.nested
  .field
    .title
      = f.label :identifier, "Sku Identifier"
    .value
      = f.text_field :identifier

  .nested
    .legend
      Sku Image

    #nested-sku-images
      = f.fields_for :images do|image|
        = render 'images/nested_fields', f: image